*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

header{
    background-color: #00050d;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    padding: 0 10px;
}

.primeiraparte{
    display: flex;
    align-items: center;
}

.primeiraparte nav{
    display: flex;
    gap: 20px;
    margin-left: 20px;
}